  <div style="display: flex; justify-content: center;">
    <div class="container-fluid container-fluid-custom">
      <h1>About</h1>
      <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
      <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="zakaria-rdouane-190a93242" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ma.linkedin.com/in/zakaria-rdouane-190a93242?trk=profile-badge"></a></div>
    </div>
  </div>
  